{% extends 'admin/base.html' %}
{% load static %}
{% block content %}   
<div class="row">
    <div class="col-lg-12">
        <!-- For 'tracking' portion
            Source: https://www.bootdey.com/snippets/view/Shop-Order-Tracking#html -->
        <div class="box-element padding-bottom-3x mb-3 mt-3">
            <div class="card">
              <div class="p-4 text-center text-white text-lg rounded-top" style="background-color:#343a40 !important"><span class="text-uppercase">Order ID - </span><span class="text-medium">#{{ order.id }}</span></div>
              <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-order-overview" style="background-color:#f5f5f5">
                <div class="w-100 text-center py-1 px-2"><span class="text-medium">Customer:</span><a href="/admin/auth/user/{{ order.customer.user.id }}/change/"> <strong>{{ order.customer.user.username }}</strong></a></div>
                <div class="w-100 text-center py-1 px-2">
                    <span class="text-medium">Status:</span> 
                    <select name="status" id="order-status" data-order={{order.id}} >
                        {% for trackInfo in  trackInfoList %}
                            {% if trackInfo.is_completed %}
                                <option value="{{ trackInfo.title }}" selected="">{{ trackInfo.title }}</option>
                            {% else %}
                                <option value="{{ trackInfo.title }}">{{ trackInfo.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="w-100 text-center py-1 px-2"><span class="text-medium">Created Date:</span> {{ order.created }}</div>
              </div>
              <div class="card-body">
                <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">    
                    {% for trackInfo in trackInfoList %} 
                        {% if trackInfo.is_completed %}
                        <div id="track-{{ trackInfo.title }}" class="step completed">
                        {% else %}
                        <div id="track-{{ trackInfo.title }}" class="step">
                        {% endif %}
                            <div class="step-icon-wrap">
                            <div class="step-icon"><i class="{{ trackInfo.icon }}"></i></div>
                            </div>
                            <h4 class="step-title">{{ trackInfo.title }}</h4>
                        </div>
                    {% endfor%}
                </div>
              </div>
            </div>
        </div>
    
    

        <div class="box-element mb-5">
            {% comment %} <a  class="btn btn-outline-dark pl-5 pr-5" href="{% url 'store' %}">Order Id: <strong>#{{order.id}}</strong></a> {% endcomment %}
            {% comment %} <br> {% endcomment %}
            <br>
            <table class="table">
                <tr style="display: flex; align-items: flex-stretch;">
                    <th style="flex:3"><h5>Items: <strong>{{ order.get_number_of_items }} </strong></h5></th>
                    <th style="flex:3"><h5>Total:<strong> ${{order.get_order_total|floatformat:2}} </strong></h5></th>
                    <th style="flex:1"><button data-order={{order.id}} type="button" class="btn btn-outline-success add-admin-order-item-btn" data-toggle="modal" data-target="#modalCart">ADD ITEM</button></th>
                </tr>
            </table>
            <br/>
            {% comment %} <br/> {% endcomment %}

            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
                <div style="flex:1"></div>
            </div>
            
            {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>{{item.product.price|floatformat:2}} </p></div>
                    <div style="flex:1">
                        <p id="quantity-{{item.id}}" class="quantity">{{item.quantity}}</p>
                        <div class="quantity">
                            <img data-item={{item.id}} data-action="add"  class="chg-quantity update-admin-order-item" src="{% static  'images/arrow-up.png' %}">
                    
                            <img data-item={{item.id}} data-action="remove"  class="chg-quantity update-admin-order-item" src="{% static  'images/arrow-down.png' %}">
                        </div>
                    </div>
                    <div style="flex:1"><p>{{item.get_total|floatformat:2}} </p></div>
                    <div style="flex:1"><button data-item={{item.id}} data-itemcnt={{items|length}}  type="button" class="btn btn-outline-danger rmv-admin-order-item-btn">REMOVE</button></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal: modalCart -->
<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Your cart</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>check/uncheck</th>
              <th>Product name</th>
              <th>Unit Price</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
                <tr>
                <th scope="row" class="form-check form-check-inline">
                    <input  data-product="{{product.id}}" class="form-check-input add-item-admin-order" type="checkbox" value="{{product.id}}">
                </th>
                <td>{{ product.name }}</td>
                <td>{{ product.price|floatformat:2 }}$</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">CLOSE</button>
        <button id="btn-add-all" class="btn btn-primary" data-dismiss="modal">ADD ALL</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: modalCart -->

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'js/admin_order_details.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/order-details.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">	
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}